*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  background: #1b1b1b;
}

section.sidebar
{
  height: 100vh;
  width: 20%;
  background: yellowgreen;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 400ms ease;
}

ul li {
  list-style: none;
  margin-bottom: 5px;
}

ul li a {
  text-decoration: none;
  font-size: 1.5rem;
  font-family: sans-serif;
}

#center{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button{
  padding: 10px 15px;
  /* border: none; */
  font-size: 1rem;
}

.hide{
  transform: translateX(-235px);
}